1. write a python program to demostrate various type of cleaning operation using data exploration & imputation.

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Create a sample dataset with missing values
data = {
 'Name': ['John', 'Mary', 'David', 'Emily', 'Michael'],
 'Age': [25, 31, np.nan, 42, 28],
 'City': ['New York', 'Los Angeles', 'Chicago', np.nan, 'Houston']
}
df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

Original Dataset:
      Name   Age         City
0     John  25.0     New York
1     Mary  31.0  Los Angeles
2    David   NaN      Chicago
3    Emily  42.0          NaN
4  Michael  28.0      Houston

In [31]:
print("\nMissing Values:")
print(df.isnull().sum())
print("\nData Types:")
print(df.dtypes)
print("\nSummary Statistics:")
print(df.describe())

Missing Values:
Name    0
Age     1
City    1
dtype: int64

Data Types:
Name     object
Age     float64
City     object
dtype: object

Summary Statistics:
             Age
count   4.000000
mean   31.500000
std     7.416198
min    25.000000
25%    27.250000
50%    29.500000
75%    33.750000
max    42.000000

In [45]:
# Impute missing values in 'Age' column with interpolation
af=df.interpolate(method='linear')
print("\nImputed Dataset (Interpolation):")
print(af)

Imputed Dataset (Interpolation):
      Name   Age         City
0     John  25.0     New York
1     Mary  31.0  Los Angeles
2    David  36.5      Chicago
3    Emily  42.0      Chicago
4  Michael  28.0      Houston

/tmp/ipykernel_670/3147464663.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  af=df.interpolate(method='linear')